/////////////
// Imports //
/////////////
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900');

//////////////
// Variables//
//////////////
$clr-turquoise: #11998e;
$clr-green: #38ef7d;
$clr-orange: #ff715b;
$clr-white: white;

$ff-ss: 'Raleway', sans-serif;     // ff-ss stands for "font-family sans serif"

$fw-bold: 900;                     // fw stands for "font-weight"
$fw-normal: 500;
$fw-light: 300;

////////////
// Mixins //
////////////

@mixin font($fs, $fw, $clr, $lh: 1.5, $ff: $ff-ss){
   font-size: $fs;
   font-weight: $fw;
   color: $clr;
   line-height: $lh;
   font-family: $ff;
};

@mixin box-shadow($clr, $blur, $ho: 0, $vo: 0, $spread: 0){
   box-shadow: $ho $vo $blur $spread $clr;
}

@mixin button($clr, $bg, $padding: .5em 1.2em){          // values with defaults (here there is $padding) must go the last
   display: inline-block;
   text-decoration: none;
   padding: $padding;
   color: $clr;
   background: $bg;
}

///////////////////
// Actual styles //
///////////////////

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card {
   width: 650px;
   background: linear-gradient(-45deg, $clr-green, $clr-turquoise);
   padding: 3em 3em 3em 12.5em;
   border-radius: 25px;
   @include box-shadow(rgba(black, .5), 25px);
   position: relative;

   &__title {
      @include font(69px, $fw-bold, $clr-white, .8);
      text-transform: uppercase;
      margin-bottom: .35em;
   }
   
   &__image {
      position: absolute;
      left: -25%;
      top: 3em;
   } 

   &__price {
      @include font(60px, $fw-light, $clr-white);
      margin-bottom: .5em;

      span {
         font-size: 30px;
      }
   }

   &__desc {
      @include font(24px, $fw-normal, rgba(black, .6));
      margin-bottom: 1em;
   }
}

.btn {
   @include button($clr-white, transparent);
   @include font(18px, $fw-normal, $clr-white);
   border-radius: 15px;

   &--accent {
      background: black;
      transition: ease-out .3s;

      &:hover{
         @include box-shadow(rgba(black, .5), 10px);
      }
   }
}